In [1]:
#import dependencies
import pandas as pd
import os
import csv

file_to_load = "Resources/missing_grades.csv"

missing_grade_df = pd.read_csv(file_to_load)

missing_grade_df

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th            NaN        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0         NaN
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [2]:
missing_grade_df.dropna()

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [3]:
missing_grade_df - pd.read_csv(file_to_load)

missing_grade_df

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [4]:
file_to_load = "Resources/missing_grades.csv"

missing_grade_df = pd.read_csv(file_to_load)

missing_grade_df

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th            NaN        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0         NaN
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [5]:
missing_grade_df.fillna(85)

missing_grade_df

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th            NaN        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0         NaN
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [6]:
missing_grade_df.fillna(85)

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th           85.0        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0        85.0
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [7]:
student_data_df

NameError: name 'student_data_df' is not defined